/* ====
 quick resets
 ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*====
 setting up the body
  ====*/
body {
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  background-color: #fff;
}
/* ====
utility classes
==== */
.container {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1000px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* ====
typography 
====*/
h1 {
  font-size: 1.75rem;
  margin-top: 1.5em;
}
h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
p {
  font-size: 1.25rem;
}
li {
  list-style-type: none;
  font-size: 1.1rem;
}
span {
  color: #fb8500;
  font-weight: 900;
  font-size: 1.9rem;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: #fb8500;
  text-decoration: underline;
}
/* ====
layout 
====*/

header {
  background-color: #f1faee;
  text-align: left;
  padding: 2em 0;
}
.logo {
  padding: 0 0 3em 3em;
}
