/* ====
 quick resets
 ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*====
 setting up the body
  ====*/
body {
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  background-color: #fff;
}
/* ====
utility classes
==== */
.container {
  margin: 0 auto;
  padding: 0 2em;
  border: 2px solid blue;
}
.container-flex {
  display: flex;
  border: 2px solid #fb8500;
}

.row {
  display: flex;
  flex-direction: column;
  border: 2px solid #fb8500;
  padding: 1em;
}
@media (min-width: 530px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
/* ====
typography 
====*/
h1 {
  font-size: 1.75rem;
  margin-top: 1.5em;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
}
li {
  list-style-type: none;
  font-size: 1.1rem;
}
.article-title {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.widget-title {
  font-size: 1.3rem;
}
.widget-link {
  font-size: 0.9rem;
}
span {
  color: #fb8500;
  font-weight: 900;
  font-size: 1.9rem;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: #fb8500;
  text-decoration: underline;
}
/* ====
layout 
====*/

/* header */

header {
  background-color: #f1faee;
  text-align: left;
  padding: 2em 0;
}
.logo {
  padding: 0 0 3em 3em;
  width: 90vw;
  border: 2px solid #fb8500;
}
@media (max-width: 675px) {
  .logo {
    flex-direction: column;
  }
  .logo p {
    line-height: 1.5;
  }
}

/* widgets */
aside {
  border: 2px solid #fb8500;
  width: 350px;
  margin: 2em 0.5em 0 0.5em;
}
.sidebar-widget {
  border: 20px solid #f1faee;
  padding: 1em;
  margin-bottom: 2em;
  text-align: left;
}
@media (max-width: 860px) {
  aside {
    display: none;
  }
  .row {
    width: 90vw;
  }
}
/* main content */
.main-page-content {
  width: 70vw;
}
@media (max-width: 860px) {
  .main-page-content {
    width: 100vw;
    margin: 0 auto;
  }
}
/* dropdown blocks */
.section-block {
  width: 200px;
  aspect-ratio: 1/1;
  background-color: #fb8500;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 1em;
  /* transform: translateZ(0); */
}
.section-block:hover,
.section-block:focus {
  background-color: rgba(251, 133, 0, 0.8);
}
.icon__section-block-dropdown {
  font-size: 3rem;
  color: #ffbf69;
}
.block-dropdown-title {
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  font-weight: 400;
}
/* dropdowns */
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #ffbf69;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  /* pointer-events: none; */
  display: none;
}
.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  display: block;
  z-index: 10;
}
