@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Audiowide&family=Hind+Madurai:wght@300;600&family=Orbitron&family=Press+Start+2P&family=Roboto:wght@300;900&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
/* setting up the body */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Hind Madurai", sans-serif;
  color: #000;
}

/* make images easier to deal with */
img {
  display: block;
  width: 100%;
}
.logo-img {
  max-width: 200px;
}
/*todo: media query for screens larger than 650px */
/*  */
.hero-img {
  width: 250px;
  height: 490px;
}
