@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Audiowide&family=Hind+Madurai:wght@300;600&family=Orbitron&family=Press+Start+2P&family=Roboto:wght@300;900&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
/* setting up the body */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Hind Madurai", sans-serif;
  color: #000;
}
/*typography */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 4rem 0 1rem 0;
}
@media (max-width: 650px) {
  h1 {
    font-size: 2.4rem;
  }
}
li {
  margin: 0.3em 0;
}
nav li,
.nav-list-item {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* make images easier to deal with */
img {
  display: block;
  width: 100%;
}
.logo-img {
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 0.25em;
  border: 2px solid pink;
}
/*todo: media query for screens larger than 650px */
.hero-img {
  width: 250px;
  height: 490px;
}
/* layout */

header {
  display: flex;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.3),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
/* navigation */
.logo {
  border: 2px solid green;
}
.nav-list {
  text-align: center;
  border: 2px solid purple;
}
.nav-bar {
  border: 2px solid red;
  margin: 0 auto;
  width: 90vw;
}
@media (min-width: 650px) {
  .nav-bar,
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-list {
    width: 30vw;
  }
  .nav-list-item {
    padding-right: 1em;
  }
}
