@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Audiowide&family=Hind+Madurai:wght@300;600&family=Orbitron&family=Press+Start+2P&family=Roboto:wght@300;900&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
/* setting up the body */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Hind Madurai", sans-serif;
  color: #000;
}
/*typography */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 4rem 0 1rem 0;
}
@media (max-width: 650px) {
  h1 {
    font-size: 2.4rem;
  }
}
li {
  margin: 0.3em 0;
}
nav li,
.nav-list-item {
  list-style-type: none;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ultility classes */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* buttons */
button {
  border: none;
  padding: 10px 30px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 3px solid black;
  background-color: inherit;
  letter-spacing: 0.5px;
  cursor: pointer;
}
button:hover,
button:focus {
  box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.3),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* make images easier to deal with */
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.logo-img {
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 0.25em;
  border: 2px solid pink;
}
/*todo: media query for screens larger than 650px */
.hero-img {
  width: 250px;
  height: 490px;
  border: 2px solid purple;
}
.img-div {
  border: 2px solid yellow;
}
/* layout */

header {
  display: flex;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 0.75em rgba(0, 0, 0, 0.3),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* navigation */
.logo {
  border: 2px solid green;
}
.nav-list {
  text-align: center;
  border: 2px solid purple;
}
.nav-bar {
  border: 2px solid red;
  margin: 0 auto;
  width: 90vw;
}
@media (min-width: 650px) {
  .nav-bar,
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-list {
    width: 30vw;
  }
  .nav-list-item {
    padding-right: 1em;
  }
}
/* hero intro section */
#hero {
  background: linear-gradient(#334d50, #cbcaa5);
}
.container-hero {
  text-align: center;
  border: 2px solid pink;
}
.description {
  margin-bottom: 2em;
}
.container-btn {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}

@media (min-width: 650px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80vw;
    margin: 0 auto;
  }
  .container-hero {
    width: 60%;
    text-align: left;
  }
  .img-div {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .container-btn {
    display: flex;
    flex-direction: row;
  }
}
/* section why this app */

.section-why {
  background-color: #646060;
  background-image: url(./img/scenic-mountain.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
}
.container-cards {
  padding: 5em 2em;
}
