/* quick resets */
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* general styling */
body {
  font-size: 0.9rem;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.3;
  font-weight: 300;
  color: #011627;
}
se

/* make images easier to deal with */
img, 
.project-thumbnail {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 10px;
}
.img-div {
  margin: 0 auto;
}
.placeholder-img {
  width: 100%;
  max-width: 400px;
  display: block;
  aspect-ratio: 1/1;
  background-color: olive;
}

/* navigation */
.nav {
  max-width: 500px;
  padding: 0.5em 1em;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

/* typography */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.25rem;
}
body {
  font-size: 0.9rem;
}
@media (min-width: 800px) {
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  body {
    font-size: 1.125rem;
  }
}
.small-text,
.subheader {
  font-weight: 600;
}
.nav-link {
  letter-spacing: 1px;
}
.nav-link:focus,
.nav-link:hover {
  color: goldenrod;
}
a {
  text-decoration: none;
  color: inherit;
}
i {
  font-size: 1.5rem;
}
span {
  color: #1f363d;
  font-weight: 700;
}
.accent {
  color: #ffb563;
  font-weight: 700;
}
strong {
  font-weight: 700;
}
.section-title {
  margin-bottom: 1em;
}
.signature a {
  color: #1f363d;
  font-weight: 700;
}
/* layout */
.container {
  margin: 0 auto;
}
.container-flex {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
@media (min-width: 600px) {
  .container-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4em;
  }
  .container-flex {
    margin: 0 auto;
    justify-content: center;
  }
}
/* header */
header {
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* intro */
#welcome-section {
  height: 100vh;
}
.small-text,
h1,
.subheader {
  margin: 0;
  text-align: left;
}
.tally {
  margin-bottom: 0.75em;
}
.count {
  font-size: 2rem;
  font-weight: 500;
}
.tally-icon {
  font-size: 2.5rem;
  margin-bottom: 0.25em;
}
.tallies {
  background-color: #9dbebb;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
@media (min-width: 600px) {
  .container-tallies {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
  }
}

#projects {
  background-color: #1f363d;
}

.project-tile-200,
.project-tile-300,
.project-tile-400,
.text-tile {
  padding: 1.2em;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 2em;
  max-width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: fit-content;
}
.project-tile-200:hover,
.project-tile-300:hover,
.project-tile-400:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.text-tile {
  background: #f4e9cd;
  /* height: max-content; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project-tile-200 {
  background-color: #9dbebb;
}
.project-tile-300 {
  background-color: #77aca2;
}
.project-tile-400 {
  background-color: #468189;
}

/* main content */

.grid-parent {
  padding-top: 3em;
  border: 2px solid orange;
  max-width: 95vw;
  margin: 0 auto;
  justify-content: space-evenly;
}
.column-content {
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}
@media (min-width: 1100px) {
  .grid-parent {
    display: flex;
  }
}
/* tiles */
.project-thumbnail {
  margin-bottom: 1em;
}
.icon-container {
  margin-top: 0.25em;
}
.tile-4 ul,
.tile-7 ul {
  text-align: left;
  padding: 1.5em;
}

/* timeline */
.timeline {
  position: relative;
  /* width: 500px; */
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background: #ffb563;
  top: 0;
  bottom: 0;
  left: 50.3%;
  margin-left: -3px;
}
.text-wrapper {
  padding: 1em 0.25em;
  position: relative;
  width: 51%;
}
.text-wrapper::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -9px;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #9dbebb;
}
.left {
  left: 0;
}
.right {
  left: 50%;
}
.right::after {
  left: -11px;
}
/* footer */
footer {
  padding: 0.5em 0;
  padding-right: 2em;
  background-color: #ffb563;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.links-container {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  padding-left: 2em;
}
.social-link {
  padding-right: 2em;
}
.social-link:hover,
.social-link:focus {
  color: #468189;
}
